In [1]:
import pandas as pd
import re

In [2]:
dataframe = pd.read_csv(r"C:\Users\Vivian.Obino1\Desktop\e-commerce analysis\data\scraped\kilimall_scraped_phones.csv")

In [3]:
print(dataframe)

                                            phones_name phones_reviews  \
0     Refurbished OPPO F11 A9 Smart Phone 128GB+6GB ...           (18)
1     Itel S23 Plus 128GB + 8(4+4)GB RAM 6.78'' Big ...          (165)
2     XIAOMI Redmi 14C 128GB Storage Upto 8(4+4)GB R...          (149)
3     New Arrival TECNO POP 9 128GB + 6(3+3)GB 4.5G ...           (87)
4     Itel A70 128GB+8(3+5)GB RAM 6.6" Screen  4G Ne...          (578)
...                                                 ...            ...
5359  Share this product\n\n\nVILLAON V20 SE 5.0" 4G...            (0)
5360  Share this product\n\n\nVILLAON V20 SE 5.0" 4G...            (0)
5361  Share this product\n\n\nVILLAON V20 SE 5.0" 4G...            (0)
5362                                  Iphone 11 pro max            (0)
5363  XIAOMI Redmi Note 13 6.67" 8GB RAM/256 GB ROM ...            (0)

     phones_price
0       KSh 7,499
1      KSh 13,599
2      KSh 12,910
3      KSh 11,499
4       KSh 9,799
...           ...
5359    KSh 4,999
5360    KSh 4,999
5361    KSh 4,999
5362   KSh 40,000
5363   KSh 26,000

[5364 rows x 3 columns]

In [4]:
dataframe_cleaned = dataframe.drop_duplicates()
print(dataframe)

                                            phones_name phones_reviews  \
0     Refurbished OPPO F11 A9 Smart Phone 128GB+6GB ...           (18)
1     Itel S23 Plus 128GB + 8(4+4)GB RAM 6.78'' Big ...          (165)
2     XIAOMI Redmi 14C 128GB Storage Upto 8(4+4)GB R...          (149)
3     New Arrival TECNO POP 9 128GB + 6(3+3)GB 4.5G ...           (87)
4     Itel A70 128GB+8(3+5)GB RAM 6.6" Screen  4G Ne...          (578)
...                                                 ...            ...
5359  Share this product\n\n\nVILLAON V20 SE 5.0" 4G...            (0)
5360  Share this product\n\n\nVILLAON V20 SE 5.0" 4G...            (0)
5361  Share this product\n\n\nVILLAON V20 SE 5.0" 4G...            (0)
5362                                  Iphone 11 pro max            (0)
5363  XIAOMI Redmi Note 13 6.67" 8GB RAM/256 GB ROM ...            (0)

     phones_price
0       KSh 7,499
1      KSh 13,599
2      KSh 12,910
3      KSh 11,499
4       KSh 9,799
...           ...
5359    KSh 4,999
5360    KSh 4,999
5361    KSh 4,999
5362   KSh 40,000
5363   KSh 26,000

[5364 rows x 3 columns]

In [5]:
dataframe['phones_price']= dataframe['phones_price'].str.strip('KSh,')
dataframe

,phones_name,phones_reviews,phones_price
0,Refurbished OPPO F11 A9 Smart Phone 128GB+6GB ...,(18),"7,499"
1,Itel S23 Plus 128GB + 8(4+4)GB RAM 6.78'' Big ...,(165),"13,599"
2,XIAOMI Redmi 14C 128GB Storage Upto 8(4+4)GB R...,(149),"12,910"
3,New Arrival TECNO POP 9 128GB + 6(3+3)GB 4.5G ...,(87),"11,499"
4,"Itel A70 128GB+8(3+5)GB RAM 6.6"" Screen 4G Ne...",(578),"9,799"
...,...,...,...
5359,"Share this product\n\n\nVILLAON V20 SE 5.0"" 4G...",(0),"4,999"
5360,"Share this product\n\n\nVILLAON V20 SE 5.0"" 4G...",(0),"4,999"
5361,"Share this product\n\n\nVILLAON V20 SE 5.0"" 4G...",(0),"4,999"
5362,Iphone 11 pro max,(0),"40,000"
5363,"XIAOMI Redmi Note 13 6.67"" 8GB RAM/256 GB ROM ...",(0),"26,000"

In [6]:
dataframe['phones_reviews'] = dataframe['phones_reviews'].str.extract(r'(\d+)').astype(int)
dataframe

,phones_name,phones_reviews,phones_price
0,Refurbished OPPO F11 A9 Smart Phone 128GB+6GB ...,18,"7,499"
1,Itel S23 Plus 128GB + 8(4+4)GB RAM 6.78'' Big ...,165,"13,599"
2,XIAOMI Redmi 14C 128GB Storage Upto 8(4+4)GB R...,149,"12,910"
3,New Arrival TECNO POP 9 128GB + 6(3+3)GB 4.5G ...,87,"11,499"
4,"Itel A70 128GB+8(3+5)GB RAM 6.6"" Screen 4G Ne...",578,"9,799"
...,...,...,...
5359,"Share this product\n\n\nVILLAON V20 SE 5.0"" 4G...",0,"4,999"
5360,"Share this product\n\n\nVILLAON V20 SE 5.0"" 4G...",0,"4,999"
5361,"Share this product\n\n\nVILLAON V20 SE 5.0"" 4G...",0,"4,999"
5362,Iphone 11 pro max,0,"40,000"
5363,"XIAOMI Redmi Note 13 6.67"" 8GB RAM/256 GB ROM ...",0,"26,000"

In [8]:
dataframe.to_csv("kilimall_clean_phones.csv", index=False)

In [10]:
import re
import pandas as pd

# Replace this with the path to your actual CSV file
file_path = 'kilimall_clean_phones.csv'

# Load the CSV file
dataframe = pd.read_csv(file_path, header=None, names=['phones_name', 'unknown_col', 'phones_price'])

# List of words to remove
words_to_remove = [
    'xmas', 'sale', 'new', 'arrival', 'brand', 'refurbished', 'year', 'sales', 'promotion', 
    'original', 'super', 'limited', 'offer', 'holiday', 'offers', 'black', 'friday', 'deals', 
    'arrivals', 'christmas', 'smart', 'end', 'free', 'charger', 'official', 'phones', 'special', 
    'buy', 'big', 'launch', 'november'
]

# Compile regex pattern
pattern = r'\b(?:' + '|'.join(map(re.escape, words_to_remove)) + r')\b'

# Functions to clean the data
def remove_brackets(column):
    return column.str.replace(r'\[.*?\]', '', regex=True)

def clean_column(column):
    return column.str.replace(pattern, '', flags=re.IGNORECASE).str.replace(r'\s+', ' ', regex=True).str.strip()

def remove_symbols(column):
    return column.str.replace(r'[!"+]', '', regex=True)

# Apply cleaning functions
dataframe['phones_name'] = remove_brackets(dataframe['phones_name'])  # Remove text in square brackets
dataframe['phones_name'] = clean_column(dataframe['phones_name'])    # Remove unwanted words
dataframe['phones_name'] = remove_symbols(dataframe['phones_name'])  # Remove special characters

# Save cleaned data to a new CSV file
cleaned_file_path = 'kilimall_clean_phones.csv'
dataframe.to_csv(cleaned_file_path, index=False)

# Display a sample of the cleaned data
print(dataframe.head())

                                         phones_name     unknown_col  \
0                                        phones_name  phones_reviews
1  Refurbished OPPO F11 A9 Smart Phone 128GB6GB 6...              18
2  Itel S23 Plus 128GB  8(44)GB RAM 6.78'' Big Cu...             165
3  XIAOMI Redmi 14C 128GB Storage Upto 8(44)GB Ra...             149
4  New Arrival TECNO POP 9 128GB  6(33)GB 4.5G Fa...              87

   phones_price
0  phones_price
1         7,499
2        13,599
3        12,910
4        11,499

In [11]:
# import re
# pattern = r"[Refurbished]"
dataframe["phones_name"] = dataframe["phones_name"].str.replace("Refurbished", "")
dataframe.head()

,phones_name,unknown_col,phones_price
0,phones_name,phones_reviews,phones_price
1,OPPO F11 A9 Smart Phone 128GB6GB 6.5 4000mAh ...,18,"7,499"
2,Itel S23 Plus 128GB 8(44)GB RAM 6.78'' Big Cu...,165,"13,599"
3,XIAOMI Redmi 14C 128GB Storage Upto 8(44)GB Ra...,149,"12,910"
4,New Arrival TECNO POP 9 128GB 6(33)GB 4.5G Fa...,87,"11,499"

In [12]:
dataframe.to_csv("kilimall_clean_phones.csv", index=False)

In [13]:

# List of words to remove
words_to_remove = [
    'xmas', 'sale', 'new', 'Xmas','Promotion','Year','phones','arrival', 'brand', 'refurbished', 'year', 'sales', 'promotion', 
    'original', 'super', 'limited', 'offer', 'holiday', 'offers', 'black', 'friday', 'deals', 
    'arrivals', 'christmas', 'smart', 'end', 'free', 'charger', 'official', 'phones', 'special', 'Smart',
    'buy', 'big', 'launch', 'november','Limited','OFFER','Brand','New','Face','unlock','Arrival','Black','Friday','NEW','CHEAP','SMART','BLACK','NOVEMBER','OFFERS','Unlocked','Phones','BRAND','Original','Free','Charger','Exclusive','Special','Offer','Phone','LIMITED'
    'anniversary','Arrivals','Best','for','a','Refirbishe','time','BRANDNEW','CHRISTMAS','HOLIDAY','OFFEROFFER','REFURBISHED','END','YEAR','Buy','Official','Offiicial','BIG','DEALS','ARRIVALS','OFFERS','Unlock','Google','system','Techweek','mobile','Harambee','phone','Global','Version'
    ,'Refurbishe','Systems','Edition','Honor','ORIGINAL','Freeyond','machine','The','Refur','version','Latest','SOWHAT'
,'GRAB','QUICK','SALE','Firmware','Super','Sale','Badili','FreeYond','Smartphone','HONOR','Cell','net','Top','International','edition','high','matching','EASTER','Sharp','YOUR'
,'certified','Certified','DISCOUNT','SPECIAL','SPECIAL','ARRIVAL','Renovate','SEALED','OFFERSBRAND','EXPANDABLE','FRIDAY','FLASH','LIMTED'
]

# Create a regex pattern to match any of the words in the list
pattern = r'\b(?:' + '|'.join(map(re.escape, words_to_remove)) + r')\b'

# Apply the regex pattern to remove the words
dataframe["phones_name"] = dataframe["phones_name"].str.replace(pattern, '', regex=True).str.strip()

# Display the cleaned DataFrame
print(dataframe.head())

                                         phones_name     unknown_col  \
0                                        phones_name  phones_reviews
1  OPPO F11 A9   128GB6GB 6.5 4000mAh Fingerprint...              18
2  Itel S23 Plus 128GB  8(44)GB RAM 6.78'' Big Cu...             165
3  XIAOMI Redmi 14C 128GB Storage Upto 8(44)GB Ra...             149
4  TECNO POP 9 128GB  6(33)GB 4.5G Fast Network 6...              87

   phones_price
0  phones_price
1         7,499
2        13,599
3        12,910
4        11,499

In [14]:
dataframe.to_csv("kilimall_clean_phones.csv", index=False)

In [15]:

# Function to clean the phones_name column
def clean_phones_name(name):
    # Remove unwanted characters: (), {}, !!, [], "", and numbers before the first letter
    name = re.sub(r'[\(\)\{\}\[\]\"!]+', '', name)  # Remove parentheses, brackets, quotes, and exclamation marks
    name = re.sub(r'^\d+\s*', '', name)  # Remove numbers at the start of the string
    return name.strip()  # Remove leading and trailing whitespace

# Apply the cleaning function to the phones_name column
dataframe["phones_name"] = dataframe["phones_name"].apply(clean_phones_name)

# Display the cleaned DataFrame
print(dataframe.head())

                                         phones_name     unknown_col  \
0                                        phones_name  phones_reviews
1  OPPO F11 A9   128GB6GB 6.5 4000mAh Fingerprint...              18
2  Itel S23 Plus 128GB  844GB RAM 6.78'' Big Curv...             165
3  XIAOMI Redmi 14C 128GB Storage Upto 844GB Ram ...             149
4  TECNO POP 9 128GB  633GB 4.5G Fast Network 6.6...              87

   phones_price
0  phones_price
1         7,499
2        13,599
3        12,910
4        11,499

In [16]:

# Function to remove the first quotation mark
def remove_first_quote(name):
    return re.sub(r'^[\'"]', '', name)  # Remove the first single or double quote if present

# Apply the function to the phones_name column
dataframe["phones_name"] = dataframe["phones_name"].apply(remove_first_quote)

# Display the cleaned DataFrame
print(dataframe.head())

dataframe.to_csv("kilimall_clean_phones.csv", index=False)

                                         phones_name     unknown_col  \
0                                        phones_name  phones_reviews
1  OPPO F11 A9   128GB6GB 6.5 4000mAh Fingerprint...              18
2  Itel S23 Plus 128GB  844GB RAM 6.78'' Big Curv...             165
3  XIAOMI Redmi 14C 128GB Storage Upto 844GB Ram ...             149
4  TECNO POP 9 128GB  633GB 4.5G Fast Network 6.6...              87

   phones_price
0  phones_price
1         7,499
2        13,599
3        12,910
4        11,499

In [17]:

# Function to ensure the first character is an alphabet
def remove_non_alphabet_start(name):
    return re.sub(r'^[^a-zA-Z]+', '', name)  # Remove any non-alphabet characters from the start

# Apply the function to the phones_name column
dataframe["phones_name"] = dataframe["phones_name"].apply(remove_non_alphabet_start)

# Display the cleaned DataFrame
print(dataframe.head())
dataframe.to_csv("kilimall_clean_phones.csv", index=False)

                                         phones_name     unknown_col  \
0                                        phones_name  phones_reviews
1  OPPO F11 A9   128GB6GB 6.5 4000mAh Fingerprint...              18
2  Itel S23 Plus 128GB  844GB RAM 6.78'' Big Curv...             165
3  XIAOMI Redmi 14C 128GB Storage Upto 844GB Ram ...             149
4  TECNO POP 9 128GB  633GB 4.5G Fast Network 6.6...              87

   phones_price
0  phones_price
1         7,499
2        13,599
3        12,910
4        11,499

In [18]:
# Delete the first row
dataframe = dataframe.drop(index=0)

# Reset index if you want to reindex the DataFrame
dataframe = dataframe.reset_index(drop=True)

# Display the updated DataFrame
print(dataframe.head())

                                         phones_name unknown_col phones_price
0  OPPO F11 A9   128GB6GB 6.5 4000mAh Fingerprint...          18        7,499
1  Itel S23 Plus 128GB  844GB RAM 6.78'' Big Curv...         165       13,599
2  XIAOMI Redmi 14C 128GB Storage Upto 844GB Ram ...         149       12,910
3  TECNO POP 9 128GB  633GB 4.5G Fast Network 6.6...          87       11,499
4  Itel A70 128GB835GB RAM 6.6 Screen 4G Network ...         578        9,799

In [19]:
ram_pattern = r'\b(2|3|4|6|8|12|24)\s*GB'

# Function to extract RAM size
def extract_ram(phones_name):
    ram = re.findall(ram_pattern, phones_name)  # Find all occurrences that match the pattern
    return ram[0] if ram else None  # If found, return the first match; else return None

storage_pattern = r'\b(16|32|64|128|256)\s*GB'
def extract_storage(phones_name):
    storage = re.findall(storage_pattern, phones_name)  # Find all occurrences that match the pattern
    return storage[0] if storage else None  # If found, return the first match; else return None
def extract_brand(phones_name):
    # Split the name into words and take the first two or three
    words = phones_name.split()
    return ' '.join(words[:3])  # Return the first three words (or fewer if not available)
def extract_battery(phones_name):
    # Search for a pattern that captures numbers followed by 'mAh'
    match = re.search(r'(\d+)\s*mAh', phones_name)
    if match:
        return match.group(1)  # Return the first captured group (the number)
    return None  # If no match, return None

# Apply the function to the 'phones_name' column and create a new 'battery' column
dataframe['battery'] = dataframe['phones_name'].apply(extract_battery)
# Apply the function to the 'phones_name' column and create a new 'storage' column
dataframe['ram'] = dataframe['phones_name'].apply(extract_ram)
dataframe['storage'] = dataframe['phones_name'].apply(extract_storage)
# Apply the function to the 'phones_name' column and create a new 'brand' column
dataframe['brand'] = dataframe['phones_name'].apply(extract_brand)

In [20]:
print(dataframe)

                                            phones_name unknown_col  \
0     OPPO F11 A9   128GB6GB 6.5 4000mAh Fingerprint...          18
1     Itel S23 Plus 128GB  844GB RAM 6.78'' Big Curv...         165
2     XIAOMI Redmi 14C 128GB Storage Upto 844GB Ram ...         149
3     TECNO POP 9 128GB  633GB 4.5G Fast Network 6.6...          87
4     Itel A70 128GB835GB RAM 6.6 Screen 4G Network ...         578
...                                                 ...         ...
5359  Share this product VILLAON V20 SE 5.0 4GB RAM3...           0
5360  Share this product VILLAON V20 SE 5.0 4GB RAM3...           0
5361  Share this product VILLAON V20 SE 5.0 4GB RAM3...           0
5362                                  Iphone 11 pro max           0
5363  XIAOMI Redmi Note 13 6.67 8GB RAM/256 GB ROM A...           0

     phones_price battery   ram storage                brand
0           7,499    4000  None     128          OPPO F11 A9
1          13,599    5000  None     128        Itel S23 Plus
2          12,910    5160  None     128     XIAOMI Redmi 14C
3          11,499    5000  None     128          TECNO POP 9
4           9,799    5000  None     128  Itel A70 128GB835GB
...           ...     ...   ...     ...                  ...
5359        4,999    3000     4    None   Share this product
5360        4,999    3000     4    None   Share this product
5361        4,999    3000     4    None   Share this product
5362       40,000    None  None    None        Iphone 11 pro
5363       26,000    None     8     256    XIAOMI Redmi Note

[5364 rows x 7 columns]

In [21]:


dataframe.to_csv("kilimall_clean_phones.csv", index=False)

In [22]:

dataframe['brand'] = dataframe['phones_name'].apply(extract_brand)
dataframe['storage'] = dataframe['phones_name'].apply(extract_storage)
dataframe['ram'] = dataframe['phones_name'].apply(extract_ram)
dataframe['battery'] = dataframe['phones_name'].apply(extract_battery)
dataframe.rename(columns={'unknown_col': 'reviews'}, inplace=True)

new_dataframe = dataframe[['brand', 'storage', 'ram', 'phones_price', 'reviews', 'battery']]

# Display the updated DataFrame
print(new_dataframe)

                    brand storage   ram phones_price reviews battery
0             OPPO F11 A9     128  None        7,499      18    4000
1           Itel S23 Plus     128  None       13,599     165    5000
2        XIAOMI Redmi 14C     128  None       12,910     149    5160
3             TECNO POP 9     128  None       11,499      87    5000
4     Itel A70 128GB835GB     128  None        9,799     578    5000
...                   ...     ...   ...          ...     ...     ...
5359   Share this product    None     4        4,999       0    3000
5360   Share this product    None     4        4,999       0    3000
5361   Share this product    None     4        4,999       0    3000
5362        Iphone 11 pro    None  None       40,000       0    None
5363    XIAOMI Redmi Note     256     8       26,000       0    None

[5364 rows x 6 columns]

In [23]:
# Rename 'unknown_col' to 'reviews'
new_dataframe.rename(columns={'unknown_col': 'reviews'}, inplace=True)

# Display the updated DataFrame
print(new_dataframe)

                    brand storage   ram phones_price reviews battery
0             OPPO F11 A9     128  None        7,499      18    4000
1           Itel S23 Plus     128  None       13,599     165    5000
2        XIAOMI Redmi 14C     128  None       12,910     149    5160
3             TECNO POP 9     128  None       11,499      87    5000
4     Itel A70 128GB835GB     128  None        9,799     578    5000
...                   ...     ...   ...          ...     ...     ...
5359   Share this product    None     4        4,999       0    3000
5360   Share this product    None     4        4,999       0    3000
5361   Share this product    None     4        4,999       0    3000
5362        Iphone 11 pro    None  None       40,000       0    None
5363    XIAOMI Redmi Note     256     8       26,000       0    None

[5364 rows x 6 columns]

C:\Users\Vivian.Obino1\AppData\Local\Temp\ipykernel_14540\1074087040.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dataframe.rename(columns={'unknown_col': 'reviews'}, inplace=True)

In [24]:

new_dataframe.to_csv("kilimall_clean_phones.csv", index=False)